<!-- index.html -->
{% extends 'base2.html' %}
{% block title %} hi hi {% endblock %}
{% block headmessage %} 
    <h3 style='font-family:微軟正黑體;'>文章列表</a>
{% endblock %}
{% block content %} 
{% for post in posts %}
<div class='card' style='background-color:#821b0d'>
    <div class='card-header' style='background-color:#0095ff'>
        <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
            <a href='/post/{{post.slug}}'>{{ post.title }}</a>
        </p>
    </div>
    <div class='card-body' style='background-color:#b15518'>
        <p>
        {{ post.body | truncatechars:40 }}
        </p>
    </div>
    <div class='card-footer'  style='background-color:#6e6810'>
        <p>
            發佈時間：{{ post.pub_date | date:"Y M d, h:m:s A"}}
        </p>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}